/*
main color :#488664
Tint:#63ab83;
shade:#3D7255;
*/

body {
  margin-top: 20px;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}
.container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: 2px solid #488664;
  border-radius: 10px;
}
.content {
  display: inline-block;
}
.content p {
  color: rgb(70, 69, 69);
  border: 2px solid #488664;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 5px;
  align-items: flex-start;
}
img {
  margin-left: 60px;
}
.client {
  margin-left: 10px;
  color: #1a202c;
}
.container-admin {
  display: flex;
  justify-content: center;
  padding: 50px;
  border: 2px solid #488664;
  border-radius: 10px;
}
h3 {
  color: rgb(85, 84, 84);
}
app-title {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 620px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
.client h3 {
  background-color: #488664;
  border-radius: 5px;
  padding: 5px;
  color: white;
}
form input-validation {
  display: flex;
  flex-direction: row;
}
