/*
main color :#488664
Tint:#63ab83;
shade:#3D7255;

second color : #868787

*/

header {
  position: relative;
  background: white;
  padding: 0;
  border-bottom: 2px solid #3d7255;
  font-family: "Lato";
  font-weight: 700;
}
a {
  color: #488664;
}
a:hover {
  background-color: #78d1a0;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}
a .logo {
  font-weight: bold;
  padding: 1rem;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}
ul a {
  padding: 1rem;
  display: inline-block;
}
a span {
  background-color: #3d7255;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 1.1rem;
}
.menu-container {
  font-size: 1.1rem;
  position: relative;
}
.menu {
  position: absolute;
  z-index: 1;
  background: whitesmoke;
  display: none;
}
.menu-container:hover .menu {
  display: block;
}
.menu a {
  width: 100%;
  min-width: 8rem;
}
.material-symbols-outlined a {
  background-color: white;
  font-size: 3rem !important;
}
.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -1px;
}
