@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");
@font-face {
  font-family: "Lato";
  src: url(/fonts/Lato/Lato-Light.ttf);
  src: url(/fonts/Lato/Lato-Bold.ttf);
  src: url(/fonts/Lato/Lato-Regular.ttf);
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
html,
button {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.star.on {
  color: #3d7255 var(--checkedColor) !important;
}
