<div class="footer-content">
  <a routerLink="/" class="logo"
    ><img
      src="../../../../assets/healthy-living-logo-min.png"
      height="100px"
      width="250px"
      alt="healthy-living"
  /></a>
  <p>
    Today is the perfect day for starting a new begining of your life with us.
    We are what we eat! To eat healthy will be always modern! No time for
    cooking healthy? Cooking is hard for you? We are here to help you.
    Everything is so simple just find the food you like and order it!
  </p>
</div>
<div class="footer-bottom">
  <p>copyright &copy; <a href="#">Healthy Living</a></p>
  <div class="footer-menu"></div>
</div>
