div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  background-color: #488664;
  padding: 0.3rem 1rem;
  margin: 0.2rem 0.15rem;
  margin-top: 2rem;
  border-radius: 10rem;
  font-weight: 500;
  color: white;
}
div a:hover {
  background-color: #63ab83;
  cursor: pointer;
}
